* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

div.product-details-list-item h1 {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.advert-img {
  width: 250px;
}

.subheading {
  font-style: oblique;
}

.product-details-container {
  display: flex;
  justify-content: space-around; /* Equal horizontal spacing between items */
  align-items: center; /* Center items vertically */
  padding: 20px;
  border-bottom: 2px solid rgb(153, 152, 152);
}

.table-container {
  border-right: 2px solid rgb(153, 152, 152);
  padding: 10px;
}

table {
  line-height: 1.8;
}

b {
  margin-right: 20px;
  padding-right: 20px;
}

.product-details-list {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.product-desc-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-details-list-item {
  justify-content: space-evenly;
}

.product-desc-list > li {
  padding: 5px;
  margin-left: 15px;
  list-style-type: square;
}
